/* src/widgets/CalendarStyles.css */
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border: none;
  font-family: inherit;
  line-height: 1.125em;
}

.react-calendar__tile--now {
  background: #e6f7ff;
  border-radius: 6px;
}

.react-calendar__tile--active {
  background: #1890ff !important;
  color: white !important;
  border-radius: 6px;
}
